[submodule "submodules/pico-sdk"]
	path = old_src/submodules/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "submodules/pico-extras"]
	path = old_src/submodules/pico-extras
	url = https://github.com/raspberrypi/pico-extras
[submodule "submodules/lufa"]
	path = old_src/submodules/lufa
	url = https://github.com/abcminiuser/lufa/
[submodule "submodules/Pico-PIO-USB"]
	path = old_src/submodules/Pico-PIO-USB
	url = https://github.com/sanjay900/Pico-PIO-USB
