.markdown-body img {
    background-color: #1c2124 !important;
}
.content {
    background: #1c2124 !important;
    color: white !important;
}
.breadcrumb-item-selected {
    color: white !important;
}
.sidebar {
    background: #1c2124 !important;
}