.markdown-body img {
    background-color: #1c2124 !important;
}
.content {
    background: #1c2124 !important;
    color: white !important;
}
.breadcrumb-item-selected {
    color: white !important;
}
.sidebar {
    background: #1c2124 !important;
}
.toctree > ul .toc.current a.current {
    background: #1c2124 !important;
}
.toc.level-1.current > ul {
    background: #2d3539 !important;
}