:root {
    --toc-1: #2c3438;
    --toc-2: #374045;
    --toc-3: #424d53;
    --toc-4: #444f55;
    --toc-5: #516067;
    --toc-6: #5a6a72;
    --toc-7: #5c6a70;
    --toc-8: #5c6a70;
    --toc-9: #5c6a70;
    --toc-10: #5c6a70;
    --toc-11: #5c6a70;
    --toc-12: #5c6a70;
}
.markdown-body img {
    background-color: #1c2124 !important;
    height: 300px;
    object-fit: contain;
}

.sponsors img {
    height: auto;
}
.content {
    background: #1c2124 !important;
    color: white !important;
}
.breadcrumb-item-selected, .breadcrumb-item[aria-current]:not([aria-current="false"]) {
    color: white !important;
}
.sidebar {
    color: white !important;
}
.toctree > ul .toc.current a {
    color: white !important;
}
.toctree > ul .toc.current a.current {
    background: #1c2124 !important;
    color: white !important;
}
.markdown-body table tr {
    background: #1c2124 !important;
}

html {
    background: #1c2124 !important;
}
:root {
    color-scheme: dark;
}
.toasts.note .title {
    background: #2f93d5 !important;
}
.toasts.danger .title {
    background: #f24f3f !important;
}
.markdown-body code, .markdown-body tt {
    font-size: 12px;
    border: 1px #414142 solid;
    color: #e74c3c;
    background-color: #1d1d1e;
}
.sidebar-wrap .sidebar > :last-child {
    margin-bottom: 10em;
}
.chart-container {
    max-width: 1400px;
    max-height: 100%;
    aspect-ratio: 2;
}