<div style="width: calc(min(100%, 1400px));height: auto;aspect-ratio: 16/9;">
    <canvas id="myChart"></canvas>
</div>
<script id="chart" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const chartAreaBorder = {
        id: 'chartAreaBorder',
        beforeDraw(chart, args, options) {
            const { ctx, chartArea: { left, top, width, height } } = chart;
            ctx.save();
            ctx.strokeStyle = options.borderColor;
            ctx.strokeRect(left, top, width, height);
            ctx.restore();
        }
    };
    var script = document.querySelector('#chart');
    script.addEventListener('load', function () {
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{"fill": "origin", "label": "Peripheral", "data": [{"x": 0.0, "y": 0.0}, {"x": 0.2, "y": 0.0}, {"x": 0.4, "y": 24.099999999999998}, {"x": 0.6000000000000001, "y": 21.8}, {"x": 0.8, "y": 19.8}, {"x": 1.0, "y": 29.7}, {"x": 1.2000000000000002, "y": 2.7}, {"x": 1.4000000000000001, "y": 1.7000000000000002}, {"x": 1.6, "y": 0.2}], "borderWidth": 1}]
            },
            options: {
                showLine: true,
                scales: {
                    x: {
                        display: true,
                        ticks: { color: 'white' },
                        title: {
                            display: true,
                            text: 'Latency (ms)',
                            color: 'white'
                        }
                    },
                    y: {
                        display: true,
                        ticks: { color: 'white' },
                        title: {
                            display: true,
                            text: 'Percentage (%)',
                            color: 'white'
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        labels: {
                            color: 'white'
                        }
                    },
                    chartAreaBorder: {
                        borderColor: 'white',
                    },
                }
            },
            plugins: [chartAreaBorder]
        });
    });
</script>